{% load staticfiles %}

<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
      <title>{%if page_title%}{{page_title}}{%else%}DUSP Explorer{%endif%}</title>
        {% block css %}
        <link href="{% static "css/main.css" %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <header>
           {% block header %}

            <div class="titleblock"><span class="title">{%if page_title%}{{page_title}}{%else%}DUSP Explorer{%endif%}</span></div>

            <div class="controls">
              <span class="control-sentence">
              Show me
                <span class="control dropdown noun">all topics</span><span class="control relational dropdown">sorted</span><span class="control dropdown noun">by projects</span>
              </span>
            </div>
            {% endblock %}
        </header>
        <div id="chart">
        </div>

      {% block scripts %}
        {% block js_environmental_vars %}
        <script type="text/javascript" >
        var APP_ROOT = "{{ ROOT_URL }}";
        var STATIC_ROOT = "{% static "" %}";
        var APP_VIEW = "{{ app_view }}";
        </script>
        {% endblock %}
        {% block js_basic_libs %}
        {% endblock %}
        <!--end scripts-->
      {% endblock %}
      <!--end content-->
    {% endblock %}
    </body>
</html>






