.bold {
  font-weight: bold;
}
.greytext {
  color: #333333;
}
.orangetext {
  color: #ff4010;
}
.bluetext {
  color: #0785ff;
}
.typestyle-body {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
header {
  overflow: auto;
  border-bottom: 1px solid #000000;
}
.titleblock,
.controls {
  padding-top: 22px;
  padding-bottom: 22px;
  float: left;
}
.titleblock {
  border-right: 1px solid #000000;
  width: 160px;
  padding-left: 32px;
  padding-right: 16px;
}
.controls {
  padding-left: 16px;
  padding-right: 32px;
}
.title {
  font-weight: bold;
  color: #333333;
  margin-right: 32px;
}
.control-sentence {
  color: #333333;
}
.control {
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.control:last-child {
  border-right: none;
}
.control + .control {
  border-left: none;
}
.noun {
  font-weight: bold;
}
.noun:hover {
  color: #ff4010;
}
.relational {
  color: #0785ff;
}
.relational:hover {
  color: #000000;
}
