<header>

  <div id="titleblock">
      <a href="http://www.mit.edu/" target="_blank" class="mit" title="Massachusetts Institute of Technology">
        MIT</a> |
      <a href="http://dusp.mit.edu/" target="_blank" class="dusp" title="MIT Department of Urban Studies and Planning">
        DUSP</a>

      <a href="#" class="explorer" title="click for more information about this web page">
        EXPLORER
      </a>
  </div>

  <div class="about">
    info
  </div>

  <div id="controls">
  </div>

</header>

<div id="chart">

</div>




