        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
          <a href="http://www.mit.edu/" title="Massachusetts Institute of Technology" target="_blank"> <div class="header-panel"> MIT </div> </a>
          <a href="http://dusp.mit.edu/" title="MIT Department of Urban Studies and Planning" target="_blank"> <div class="header-panel"> DUSP </div> </a>
          <a href="/"> <div class="header-panel"> EXPLORER </div> </a>
          <a href="#" title="More information about this page"> <div class="header-panel info-button"> INFO </div> </a>
          <div id="controls">
          </div>
        </header>
          <div id="chart">
          </div>
