<!--work-->
<div class="work listing">

  {{#if work_types}}
  <div class="item-type">
    {{#each work_types}}
    <span class="type-tag">{{attributes.name}}</span>
    {{/each}}
  </div>
  {{/if}}

  <div class="title">{{title}}</div>

  <div class="authors">
    {{#each faculty}}
    <span class="faculty">{{attributes.full_name}}</span>
    {{/each}}
  </div>

</div>
