<!--topic-->
<div class="title-row">
  <span class="item_title topic_name">
    {{display}}
  </span>
  <span class="prime_relations">

    {{#if works}}
    <span class="prime_relation works">
      <span class="count">
        {{works.length}}
      </span>
      <span class="relation_text">
        related projects
      </span>
    </span>
    {{/if }}

    {{#if related_faculty}}
    <span class="prime_relation related_faculty">
      <span class="relation_text">
        by
      </span>
      <span class="count">
        {{related_faculty.length}}
      </span>
      <span class="relation_text">
        faculty
      </span>
    </span>
    {{/if }}

    {{#if related_locations}}
    <span class="prime_relation related_locations">
      <span class="related_locations">
        in
      </span>
      <span class="count">
        {{related_locations.length}}
      </span>
      <span class="relation_text">
        locations
      </span>
    </span>
    {{/if }}

  </span>
</div>
<!--spans:-->
  <!--?partner_topics_by_work-->
  <!--?partner_topics_by_faculty-->

