@import 'bootstrap_custom.less';
@import 'typography.less';
@import 'modernizr.less';
@import 'colors.less';

.padding-lr(@num) {
    padding-left: @em * @num;
    padding-right: @em * @num;
}

.padding-tb(@num) {
    padding-top: @vu * @num;
    padding-bottom: @vu * @num;
}

header {
    border-bottom: 1px solid @black;
    height: @vu * 4;
}

#titleblock {
    padding-top: @vu * 1.25;
    .padding-lr(1);
    position: absolute;
    height: @vu * 4;
    border-right: 1px solid @black;
}
#controls {
    height: @vu * 4;
    .padding-tb(1);
    margin-left: @em * 10;
}
.control-prefix {
    padding-top: @vu * 20;
}

html, body, #main, #chart {
    height: 100%;
}

@import 'network.less';

canvas { 
    position: absolute; 
}

.draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.chart {
    position: relative;
}


.countryMenu {
    position: absolute;
    left: 0px;
    top: @vu;
    .country {
        .bold;
        .uppercase;
        .kern(1);
        padding: 0 @em * 2;
        cursor: pointer;
        &:hover {
            color: @orange !important;
        }
    }
    .country.selected {
        color: @orange !important;
    }
}

.countryProjects {
    position: absolute;
    right: 0px;
    top: @vu;
    width: @em * 32;
    .countryProject {
        padding: 0 @em * 2;
        margin-bottom: @vu * 0.5;
        .authors { padding-left: @em; }
    }
}

.title { .semibold; }

.faculty { .light; margin-right: @em; }

.type-tag { 
    .uppercase; .compact; .kern(1); font-size: @em - 3;
    .semibold; color: @medgray; margin-right: @em;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}
