@import "typography.less";

.btn-group, button {
    .condensed;
    .uppercase;
}

#chart { .condensed; .regular; }

.list-column {
    width: @em * 48;
    border-right: 1px solid @black;
    padding-bottom: @vu * 6;
}

.list-item {
    cursor: pointer;
    padding-top: @vu * 0.5;
    padding-bottom: @vu * 0.5;
    padding-left: @em * 3;
    padding-right: @em * 1;
    border-bottom: 1px solid lighten(@black, 85%);
    &:hover {
        background-color: lighten(@blue, 43%);
        .title_row { color: darken(@blue, 20%); }
    }
}

.detail { 
    .font_size_small;
    .uppercase;
    margin-right: @em * 0.5; 
    .glyphicon { font-size: 0.9em; }
}

li.chosen {
    display: none;
}

.item_title { .bold; }
.item_title.topic_name { letter-spacing: 0.5px;}
.topic_name { .uppercase; }
.prime_relations { margin-left: @em; }
.count { .bold; }

.relation { margin-top: @vu * 0.25; }
.related_item .topic_name { .font_size_small; }




