@import 'bootstrap/less/variables.less';

#chart {
}

span.topic:after {
    content: ','
}

span.topic:last-child:after {
    content:''
}

.list-column {
    width: @em * 48;
    border-right: 1px solid @black;
    padding-bottom: @vu * 6;
}

.list-item {
    padding-top: @vu * 0.5;
    padding-bottom: @vu * 0.5;
    padding-left: @em * 1;
    padding-right: @em * 1;
    &:hover {
        background-color: @orange;
    }
}

li.chosen {
    display: none;
}

.topic-name {
    font-size: @em * 0.8;
    font-weight: bold;
    text-transform: uppercase;
}

ul.relations {
    list-style-type: none;
    li.relation {
        font-style: italic;
    }
    .relation-count {
        font-weight: bold;
    }
}



