@import 'bootstrap/less/variables.less';

#chart {
}

.column {
    width: @em * 24;
    border-right: 1px solid @black;
    padding-bottom: @vu * 6;
}

.topic-list-item {
    padding-top: @vu * 0.5;
    padding-bottom: @vu * 0.5;
    padding-left: @em * 1;
    padding-right: @em * 1;
    &:hover {
        background-color: @orange;
    }
}

li.chosen {
    display: none;
}


